@import "tailwindcss";

/* Custom VitePress CSS */
:root {
  --vp-c-brand-1: #1B8696;
  /*--vp-c-text-1: #1B8696;*/
}

/* Tile font style */
.title, .vp-doc h1, .vp-doc h2, .vp-doc h3 {
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 700;
  color: var(--vp-c-brand-1)
}


.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  background: #1B8696;
  color: #fff;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  gap: 1em;
  font-size: 1em;
}
.cookie-banner button {
  margin-left: 1em;
  background: #fff;
  color: #1B8696;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
}
.cookie-banner button:hover {
  background: #e0f7fa;
}
